{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Tweet Emotion Recognition{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'predictor/css/styles.css' %}">
  <script defer src="{% static 'predictor/js/theme.js' %}"></script>
</head>

<body>
  <nav class="navbar">
    <div class="nav-left">
      <a class="nav-item" href="{% url 'home' %}">Home</a>
      <a class="nav-item" href="{% url 'info' %}">Info</a>
    </div>

    <div class="nav-right">
      <button id="themeToggle" class="nav-btn" type="button">
        Theme
      </button>
    </div>
  </nav>

  <main class="page">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    This is not reliable and is experimental
  </footer>
</body>
</html>
